body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.homepage {
  text-align: center;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 80px;
  background-color: #f9fcff;
}

.hero-text {
  max-width: 50%;
  text-align: left;
  justify-content: center;
}

.hero-text h1 {
  font-size: 3rem;
  color: #1b344d;
}

.hero-text p {
  font-size: 1.2rem;
  color: rgba(27, 52, 77, 0.5);
  margin: 20px 0;
}

.btn-start {
  display: inline-block;
  padding: 10px 20px;
  background-color: #5095e4;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1rem;
}

.hero-image img {
  max-width: 100%;
  height: auto;
}
